@model IEnumerable<FitnessWebAppModels.WorkoutPlan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Creator
                </th>
                <th>
                    Name
                </th>
                <th>    
                    Kudos
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kudos)
                </td>
                <td>
                    @Html.ActionLink(linkText: "View", actionName: "ShowWorkout",routeValues: new {
                        creatornickname = item.CreatorName,
                        planname = item.Name
                    })
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>