@{
    ViewData["Title"] = "SearchWorkouts";
}

<h2>Search Workouts</h2>
<div class="col-sm-6">
    Name:     <input id="Name" type="text">
    <button id="searchbutton" type="button">Search!</button>
</div>

<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category name
                </th>
                <th>
                    Kudos
                </th>
                <th>
                    Creator Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="body"></tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $('#searchbutton').click(function() {
            $('#body').empty();
            $.post('@Url.Action("SearchWorkoutsByName", "Workout")',
                {
                    Name: $('#Name').val()
                },
                function (data) {
                    console.log(data);
                    if (data.length !== 0) {
                        data.forEach(function(workout) {
                            $('#body').append(
                                "<tr>\n" +
                                `  <td> <a href="/Workout/ShowWorkoutById/${workout.id}"> ${workout.name}</a> </td>\n ` +
                                `  <td> ${workout.muscleGroup}</td>\n` +
                                `  <td> ${workout.kudos}</td>\n` +
                                `  <td> ${workout.creatorName}</td>\n` +
                                "</tr>\n");
                        });
                    } else {
                        $('#body').append(
                            "<tr>\n" +
                            "  <td> No results found</td>\n"  +
                            "</tr>\n");
                    }
                });
        });
    </script>
}
