@model IEnumerable<string>
@{
    ViewData["Title"] = "SearchWorkouts";
}

<h2>Search Workouts</h2>
<div class="col-sm-6">
    <select id="Category" type="text" name="field1">
        <option>
            - Select -
        </option>
        @foreach (var category in Model)
        {
            <option>
               @category
            </option>
        }
    </select>
</div>
<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name????
                </th>
                <th>
                    Category name?!
                </th>
                <th>
                    Kudos??
                </th>
                <th>
                    Creator Name/???
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $('#Category').change(function() {
            $.ajax({
                url: '@Url.Action("action", "controller")',
                data: $('#Category').val(),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });
        //TODO Deze na de andere 
    </script>
}
