@{
    ViewData["Title"] = "SearchWorkouts";
}

<h2>Search Workouts</h2>
<div class="col-sm-6">
    Category: <input id="Category" type="text"> <br/>
    Name:     <input id="Name" type="text">
</div>

<div class="col-sm-6">
    <table id="body"class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category name
                </th>
                <th>
                    Kudos
                </th>
                <th>
                    Creator Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $('#EENOFANDEREBUTTOn').onclick(function() {
            $('#body').empty();
            $.post('@Url.Action("SearchForExerciseByCategory", "Exercise")',
                {
                    category: $('#Category').val()
                },
                function(data) {
                    data.forEach(function(exercise) {
                        $('#body').append(
                            "<tr>\n" +
                            `  <td> <a href="/Exercise/ShowExercise/${exercise.id}"> ${exercise.name}</a> </td>\n ` +
                            `  <td> ${exercise.muscleGroup}</td>\n` +
                            `  <td> ${exercise.kudos}</td>\n` +
                            "</tr>\n");
                    });
                });
        });
    </script>
}
