@model IEnumerable<string>
@{
    ViewData["Title"] = "CategoriesView";
}

<h2>CategoriesView</h2>

<h4>Delete workout</h4>
<div class="jumbotron col-xs-12">
    <div class="col-sm-6">
        <select id="Category" type="text" name="field1">
            <option>
                - Select -
            </option>
        </select>
    </div>
</div>
