@model IEnumerable<string>

@{
    ViewData["Title"] = "SearchForExercise";
}

<h2>Search for Exercise</h2>

<div class="col-sm-6">
    <select id="Category" type="text" name="field1">
        <option>
            - Select -
        </option>
        @foreach (var category in Model)
        {
            <option>
                @category
            </option>
        }
    </select>
</div>
<div class="col-sm-6">
    <table class="table" summary="">
        <thead>
            <tr>
                <th>
                   Name
                </th>
                <th>
                    Muscle Group
                </th>
                <th>
                    Kudos
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="body">
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $('#Category').change(function () {
            $('table tbody').empty();
        $.post('@Url.Action("SearchForExerciseByCategory", "Exercise")',
            {
                category: $('#Category').val()
            },
            function (data) {
                console.log(data);
                data.forEach(function (excercise) {
                    $('#body').append(
                        "<tr>\n" +
                        `  <td> ${excercise.name}</td>\n`  +
                        `  <td> ${excercise.muscleGroup}</td>\n` +
                        `  <td> ${excercise.kudos}</td>\n` +
                        "</tr>\n"
                    );
                });
            });
        });
    </script>
}