@using FitnessWebAppModels
@model IEnumerable<string>

@{
    ViewData["Title"] = "SearchForExercise";
}


<div class="col-sm-6">
    <select id="Category" type="text" name="field1">
        <option>
            - Select -
        </option>
        @foreach (var category in Model)
        {
            <option>
                @category
            </option>
        }
    </select>
</div>
<div class="col-sm-6">
    <table class="table" summary="">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Muscle Group
                </th>
                <th>
                    Kudos
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="body">
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
    $('#Category').change(function() {
        $('#body').empty();
        $.post('@Url.Action("SearchForExerciseByCategory", "Exercise")',
            {
                category: $('#Category').val()
            },
            function (data) {
                if (data.length !== 0) {
                    data.forEach(function(exercise) {
                        $('#body').append(
                            "<tr>\n" +
                            `  <td> <a href="/Exercise/ShowExercise/${exercise.id}"> ${exercise.name}</a> </td>\n ` +
                            `  <td> ${exercise.muscleGroup}</td>\n` +
                            `  <td> ${exercise.kudos}</td>\n` +
                            "</tr>\n");
                    });
                } else {
                    $('#body').append(
                        "<tr>\n" +
                        "  <td> No results found</td>\n"  +
                        "</tr>\n");
                }
            });
    });
    </script>
}