@model FitnessWebAppModels.Exercise

@{
    ViewData["Title"] = "ShowExercise";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    <h4> @Html.DisplayNameFor(model => model.MuscleGroup)</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Info:
        </dt>
        <dd>
            text?
        </dd>
    </dl>
    comments hier   
</div>
